# ‚úÖ ÌõàÎ†® Îç∞Ïù¥ÌÑ∞ÏÖãÍ≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ÏÖãÏúºÎ°ú ÎÇòÎàÑÍ∏∞

In [146]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/wine.csv')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,bad
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,bad
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,bad
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,good
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,bad

## üìåTarget Î≥ÄÏàò Ïù∏ÏΩîÎî©

In [147]:
pd.get_dummies(df['quality'], prefix ='quality')

      quality_bad  quality_good
0               1             0
1               1             0
2               1             0
3               0             1
4               1             0
...           ...           ...
1594            1             0
1595            0             1
1596            0             1
1597            1             0
1598            0             1

[1599 rows x 2 columns]

### ‚ùó Í∏∞Ï°¥ DataFrameÏóê Ïõê-Ìï´ Ïù∏ÏΩîÎî©ÏùÑ Ï†ÅÏö©Ìïú ÌäπÏÑ±ÏùÑ Î∞òÏòÅ

In [148]:
df_wine = pd.get_dummies(data = df, columns = ['quality'], prefix = 'quality')
df_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality_bad,quality_good
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,1,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,1,0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,1,0
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,0,1
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,1,0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,0,1
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,0,1
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,1,0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,0,1

### üìåÌõàÎ†®ÏÖã, ÌÖåÏä§Ìä∏ÏÖã Î∂ÑÌï†

> * train_test_splitÏùÑ ÏÇ¨Ïö©Ìï¥ ÎûúÎç§ÌïòÍ≤å ÌõàÎ†® Îç∞Ïù¥ÌÑ∞ÏÖãÍ≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ÏÖã Î∂ÑÌï†

> * ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ÏÖãÏóê ÎßéÏùÄ Îç∞Ïù¥ÌÑ∞ Ï£ºÎ©¥ ÏïàÎê®

> * Ïã§Ï†ÑÏóêÏÑú ÎßéÏù¥ ÏÇ¨Ïö©ÌïòÎäî ÎπÑÏú® = 60:40, 70:30, 80:20

In [149]:
X = np.arange(20).reshape(10,2)
X

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [14, 15],
       [16, 17],
       [18, 19]])

In [150]:
#ÏòàÏ†úÎ°ú ÏÇ¨Ïö©Ìï† 2Ï∞®Ïõê numpy arrayÏôÄ 1Ï∞®Ïõê numpy array ÏÉùÏÑ±
y = np.arange(10)
y

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### 1Ô∏è‚É£ÏàúÏ∞®Ï†ÅÏúºÎ°ú Î∂ÑÌï†

* 1. test_size = Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ÏóêÏÑú test data ÏÑ∏Ìä∏Ïùò ÌÅ¨Í∏∞
> ex) (....test_size = 0.2)Í∞ôÏùÄ Í≤ΩÏö∞ 80%Ïùò train, 20%Ïùò test Îç∞Ïù¥ÌÑ∞ ÏÑ∏Ìä∏ Ï∂îÏ∂ú

* 2. shuffle = Îç∞Ïù¥ÌÑ∞Î•º ÏàúÏ∞®Ï†ÅÏúºÎ°ú Î∂ÑÎ¶¨Ìï†ÏßÄ, Î¨¥ÏûëÏúÑÎ°ú Î∂ÑÎ¶¨Ìï†ÏßÄ ÏÑ§Ï†ï, (Í∏∞Î≥∏Í∞í = True)
> ex) (...shuffle = False)Í∞ôÏùÄ Í≤ΩÏö∞ ÏàúÏ∞®Ï†ÅÏúºÎ°ú Î∂ÑÌï†

* 3. random_state = random Í∞í Í≥†Ï†ïÌïòÎäî Ïó≠Ìï†
> ex) 1 ~ 100Ïùò Í∞íÏùÑ ÎûúÎç§ÏúºÎ°ú 5Í∞ú Î∂àÎü¨ 3,2,1,5,4Î•º Î∂àÎ†ÄÏùÑ Îïå, random_state ÏßÄÏ†ïÌïòÎ©¥
> Îã§ÏùåÏóêÎèÑ Í∞ôÏùÄ ÏàúÏÑúÎ°ú 5Í∞úÎ•º Î∂àÎü¨Ïò¥

>  Ïñ¥Îñ§ Í∞íÏùÑ ÏßÄÏ†ïÌï¥ÎèÑ ÏÉÅÍ¥ÄÏóÜÏùå

* 4. stratify = ÏõêÎûò Îç∞Ïù¥ÌÑ∞Ïùò Î∂ÑÌè¨ÏôÄ Ïú†ÏÇ¨ÌïòÍ≤å Ï∂îÏ∂ú

In [151]:
from sklearn.model_selection import train_test_split

#shuffle = false
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size = 0.4,
                                                   shuffle = False
                                                   )
print('1)ÌõàÎ†®Ïö© Feature Îç∞Ïù¥ÌÑ∞ÏÖã:',X_train.shape)
print('2)ÌÖåÏä§Ìä∏Ïö© Feature Îç∞Ïù¥ÌÑ∞ÏÖã:',X_test.shape)
print('3)ÌõàÎ†®Ïö© Label Îç∞Ïù¥ÌÑ∞ÏÖã:',y_train.shape)
print('4)ÌÖåÏä§Ìä∏Ïö© Label Îç∞Ïù¥ÌÑ∞ÏÖã:',y_test.shape)

1)ÌõàÎ†®Ïö© Feature Îç∞Ïù¥ÌÑ∞ÏÖã: (6, 2)
2)ÌÖåÏä§Ìä∏Ïö© Feature Îç∞Ïù¥ÌÑ∞ÏÖã: (4, 2)
3)ÌõàÎ†®Ïö© Label Îç∞Ïù¥ÌÑ∞ÏÖã: (6,)
4)ÌÖåÏä§Ìä∏Ïö© Label Îç∞Ïù¥ÌÑ∞ÏÖã: (4,)

In [152]:
X_train

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11]])

In [153]:
X_test

array([[12, 13],
       [14, 15],
       [16, 17],
       [18, 19]])

In [154]:
y_train

array([0, 1, 2, 3, 4, 5])

In [155]:
y_test

array([6, 7, 8, 9])

### 2Ô∏è‚É£ Î¨¥ÏûëÏúÑ Ï∂îÏ∂úÎ°ú Î∂ÑÌï†

In [156]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size = 0.4,
                                                   shuffle = True,
                                                   random_state =1004)

In [157]:
X_train

array([[ 2,  3],
       [ 8,  9],
       [ 6,  7],
       [14, 15],
       [10, 11],
       [ 4,  5]])

In [158]:
X_test

array([[ 0,  1],
       [12, 13],
       [16, 17],
       [18, 19]])

In [159]:
y_train

array([1, 4, 3, 7, 5, 2])

In [160]:
y_test

array([0, 6, 8, 9])

### 3Ô∏è‚É£ Í≥ÑÏ∏µÏ†Å Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú ÏòµÏÖò

In [165]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size = 0.4,
                                                   shuffle = True,
                                                   random_state =1004,
                                                   stratify = y)

### 4Ô∏è‚É£ ÏôÄÏù∏ Îç∞Ïù¥ÌÑ∞ÏÖãÏúºÎ°ú Ïã§Ïäµ

In [164]:
X, y = df_wine.iloc[:,1:].values, df_wine.iloc[:,0].values

X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size = 0.3,
                                                   random_state = 1,
                                                   )
X_train

array([[ 1.33 ,  0.   ,  1.7  , ..., 10.9  ,  1.   ,  0.   ],
       [ 0.49 ,  0.1  ,  2.6  , ..., 10.5  ,  1.   ,  0.   ],
       [ 0.84 ,  0.   ,  1.4  , ...,  9.7  ,  1.   ,  0.   ],
       ...,
       [ 0.725,  0.09 ,  5.5  , ..., 10.8  ,  0.   ,  1.   ],
       [ 0.63 ,  0.   ,  1.9  , ...,  9.   ,  0.   ,  1.   ],
       [ 0.4  ,  0.5  ,  1.8  , ..., 12.5  ,  0.   ,  1.   ]])

# ‚úÖÌäπÏÑ± Ïä§ÏºÄÏùº ÎßûÏ∂îÍ∏∞

### 1Ô∏è‚É£ Ï†ïÍ∑úÌôî

 1. ÏµúÏÜå-ÏµúÎåÄ Ïä§ÏºÄÏùº Î≥ÄÌôò
 
> * ÌäπÏÑ±Ïùò Ïä§ÏºÄÏùºÏùÑ [0,1]Î≤îÏúÑÏóê ÎßûÏ∂§

> * Í∞Å ÌäπÏÑ±Ïùò Ïó¥ÎßàÎã§ Ï†ÅÏö©

> * **ÌäπÏ†ï Î≤îÏúÑÏùò Í∞íÏù¥ ÌïÑÏöîÌï† Îïå Ïú†ÏöîÌïòÍ≤å ÏÇ¨Ïö©Ìï† Ïàò ÏûàÏùå**

> * ÏÇ¨Ïù¥ÌÇ∑Îü∞Ïùò MinMaxScalar ÏÇ¨Ïö©

In [169]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()
X_train_norm = mms.fit_transform(X_train)
X_train_norm

array([[0.18181818, 0.45      , 0.07534247, ..., 0.12307692, 0.        ,
        1.        ],
       [0.32231405, 0.64      , 0.10273973, ..., 0.52307692, 0.        ,
        1.        ],
       [0.55371901, 0.04      , 0.0890411 , ..., 0.30769231, 0.        ,
        1.        ],
       ...,
       [0.46694215, 0.        , 0.10958904, ..., 0.33846154, 0.        ,
        1.        ],
       [0.23140496, 0.49      , 0.10958904, ..., 0.15384615, 1.        ,
        0.        ],
       [0.15702479, 0.32      , 0.06849315, ..., 0.64615385, 0.        ,
        1.        ]])

### 2Ô∏è‚É£ÌëúÏ§ÄÌôî

> * ÌëúÏ§ÄÌôî ÏÇ¨Ïö©Ïãú ÌäπÏÑ±Ïùò ÌèâÍ∑†ÏùÑ 0Ïóê ÎßûÏ∂îÍ≥† ÌëúÏ§ÄÌé∏Ï∞®Î•º 1Î°ú ÎßåÎì§Ïñ¥ 0Í≥º 1ÏÇ¨Ïù¥Ïùò Í∞íÏùÑ Í∞ÄÏßÄÍ≤å ÌïòÎäî Ï†ïÍ∑úÎ∂ÑÌè¨Ïùò ÌäπÏßïÏùÑ Í∞ñÎèÑÎ°ùÌï®

> * ÏÇ¨Ïù¥ÌÇ∑Îü∞Ïùò StandardScalar ÏÇ¨Ïö©

In [171]:
from sklearn.preprocessing import StandardScaler

stdsc = StandardScaler()
X_train_std = stdsc.fit_transform(X_train)
X_train_std

array([[-1.08973838,  0.89845403, -0.41016183, ..., -1.15025682,
        -0.96414598,  0.96414598],
       [-0.12369587,  1.85737689, -0.13354777, ...,  1.29914922,
        -0.96414598,  0.96414598],
       [ 1.46743297, -1.17080054, -0.2718548 , ..., -0.01976172,
        -0.96414598,  0.96414598],
       ...,
       [ 0.87075966, -1.37267904, -0.06439425, ...,  0.16865412,
        -0.96414598,  0.96414598],
       [-0.7487822 ,  1.10033253, -0.06439425, ..., -0.96184097,
         1.03718734, -1.03718734],
       [-1.26021647,  0.24234892, -0.47931534, ...,  2.05281261,
        -0.96414598,  0.96414598]])